
<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Search Order :</span>
            </div>
            <input (keyup)="onSearch($event)" type="text" class="form-control" placeholder="SEARCH" aria-label="Username" aria-describedby="basic-addon1">
    
               </div>
      </div>
        
    </div>
    <div class="row">
        <div class="col-sm">
            <ag-grid-angular 
            style="width: 70%; height: 500px;" 
            class="ag-theme-balham"
            [rowData]="rowData" 
            [columnDefs]="columnDefs"
            [paginationPageSize]="paginationPageSize"
            [pagination]="true"
            [paginationAutoPageSize]="true"
            >
        </ag-grid-angular>
        </div>
      
      </div>
  </div>